.layout {
    max-width: 100%;
    height: 100vh;

    width: 600px;
    margin-inline: auto;

    background-color: var(--bg-color);
    color: var(--text-color);
}

.content {
    position: relative;
    padding: 24px;
}

.gif-container {
    margin-top: 48px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.gif-container img {
    width: 150px;
}